# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.h

# Distribution / packaging
build/
dist/
bindist/
kapitan.egg-info/
_site/
site/

# Environment
.envrc

# IDEs
.vscode/

# Other
*.bak
.DS_Store
*.swp
tags

# Versioning
.python-version
.kapitan
.tool-versions

# Unit test / coverage reports
.coverage
