language: python
cache: pip
matrix:
  include:
  - python: 3.7
    dist: xenial
    sudo: true
branches:
  only:
    - master
    - /v(\d+\.){2}\d+(-rc\.\d+)?/ # regex for tag branches e.g. v0.22.0-rc.1, v0.22.0 etc
notifications:
  recipients:
    - kapitan@google.com
  email:
    on_success: change
    on_failure: always

before_install:
  # Loop until update succeeds (timeouts can occur)
  - sudo sed -e '/postgresql/ s/^#*/#/' -i /etc/apt/sources.list.d/*
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y;
  - sudo add-apt-repository ppa:longsleep/golang-backports -y
  # workaround for https://travis-ci.community/t/then-sudo-apt-get-update-failed-public-key-is-not-available-no-pubkey-6b05f25d762e3157-in-ubuntu-xenial/1728
  - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 762E3157
  # Loop until update succeeds (timeouts can occur)
  - travis_retry $(! sudo apt-get -qq update 2>&1 | grep Failed)
  - sudo apt-get install -y g++-4.9
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 60 --slave /usr/bin/g++ g++ /usr/bin/g++-4.9
  - sudo apt-get install -y gnupg2 git
  - sudo apt-get install -y golang-1.14
  - export PATH="/usr/lib/go-1.14/bin:$PATH"
  - export GOROOT=/usr/lib/go-1.14
  - go version

install:
  - pip3 install -r requirements.txt
  - pip3 install coverage black

script:
  - make build_helm_binding && make build_helm_fetch_binding
  - make test && make test_coverage && make test_formatting
  - make build_binary
  - make test_binary

after_success:
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" = "master" ]; then bash ./scripts/inc_version.sh; fi

before_deploy:
  - export PRERELEASE=false
  - if $(echo $TRAVIS_BRANCH | grep -Eq "v([0-9]+.[0-9]{2}.[0-9]+)-rc.[0-9]+"); then export PRERELEASE=true; fi
  - echo "Deploying $TRAVIS_BRANCH, prerelease $PRERELEASE"
deploy:
  - provider: releases
    api_key:
      secure: VFZDeLYUZ/Fs+NTbIW7DjbANhqAtlbZTzsWods6MuSN3DmGibZwNBpHfNN/hCfJEBCKvmWBEzF2R14Pau+GMZAYaP0N0pCRuO8wtlXGe4ygc5bff4Y93BA98sTh/eRnLf+jsI+acliBWlm0WCRWDMsxfzhZTgWDO/IBdOrzwno5BqEeXbvsqe6MG9z3BLvp8t7WkI67NPoJfRGve7twb1VLMCLlRwXJwxefxgYHcH3pImhx4CMVjXKEMr4jQIMh+mlGA+aMhTAM/If2X3fhdbiA9KNNQ0FrZFLOw0iCLCYzaCHGm70eSMlXJr2kqEjzdZkR2J4TxnJqghTrnNVeXg917vtlFrTnJUxeOSQl3s3LOOQ0vM2wob8y+oPWYz7zw+KKqs8hA4crE7CngQmPGJvWQfYEGtW/5Zc9j+T/yplq5Zwqbe3ibsQ54V8jr6LU4IcLLXgT3qii13Zpg7pILQ+ObOge8c20EeUd6+HhBt9+5K0S67/GgSoa2Nd5+g4XgvEO95ncMZkWztNidk1ygVn00TLK5Dn8UHSaEoxlGXCfgVphzV1//MpOeJn67kQWxHvJxgqVfHAsbL2dlXMux/cuv+UQlRPQsw+8A18hpTUWcxRl7cLm9bMedW14CCtEmSWikanY/2lBEwFIjYndOu7v4VY4L3aNs6EsHrinoLVA=
    file:
      - CHANGELOG.md
      - bindist/kapitan-linux-amd64
    prerelease: $PRERELEASE
    on:
      tags: true
      repo: deepmind/kapitan
  - provider: pypi
    distributions: sdist bdist_wheel
    skip_existing: true
    user:
      secure: REHK3fFiXqp56I1nWzBmhkRf9uuNDIOH4tBpxYb/H++Geyl8qGL3PTPdS5MQQMMAhhqXOughQY2KNApKODsiL4LNoNlqE+C9IFgWgt6nlzFV3yNSZPC4iHMe2ggLkA15YRoKcha4x+K70HQtsLOfH1LhvBGhJzG5M6D2pN1+aY4+8g4JADGtEj9Ey6gMJKj63Vl1Eqz5Gc5yHPwJAQJsTXdCHPA3Lvpc9u75+QMe+C04NvyC+TE5i7zp4Bc1rJ1eEfcY5CuhjN3K5UGVtFJ84xFR6SJ7Hur9ONm7Cpaesq7qr+BY9ejQqXm0gs8u+Uv0Lcc65n228QAkqML3N5xtJFPCICmHPu2CrntIAyOboHXgU6VHv79r68cteo/nQOob8vjFNu6jJxsmKJv/TBD2aMc+pF8+uWQxr+GkfENnoYQATQGh7CQ1ZPkGhbsdpDga+IPRmWDRdY5vFPDQspLB7+nIWY4v4WvtOmnlrQGDmhSuu8/71qyMKVLuDQrI9NSR56WKL/lxnZHJA06M83oI1JU7XRmf1PTWosB0Apg+Zdk7KObrcxyJfWQTnTO8ruvZoUsGIzZ3JTAnA5rHOgQE+kbPt+vy3SAmZ490Jj+MezByLOCnOR1y+8VwnwLogNxiwmRtuUBFXf7tOyWYduxERy8gWRILmkFAGCkppT4WrQ4=
    password:
      secure: GBENUUiSJWHqQNU6NnKrbWSDIoTTPsowV9oME3eTXFOcyvZLL5W0xs5TwOXZxPyz0eaQ20F+o9rT8jiuhe9laA3gDnID109wznuRwY1uGsWP2xolRwZIDeikBS/V7LSrvm69IDGbBuyakWOS0Z1GgPKW3NZzJRYnWhwRolxgqrXmCtK5yiPBHMWRlwn+KPpjGkDKufw47PKOomxScmSeXv3wRk85azWbriNFbtnbymqGut2VqccdbWrQPZ9VaKPbOolnOA6XC95ib4sMyXzpTpwVfsPeBSlYQoCNr6G4QQ3P8x93/twFwFSTGoGqqF5qa8xsvu7KyinjBZvzsTYdTq/2KTKhogSQRkxhcIR+bWBguGWyim1zptbHI0NYPhAEwOtwWT94lXPaisDyCIgCXmMm9f68ViJ4qpfD6o1qaQ+iSmHq16Q+p3CAstKTbUhIEKZomkVwPc7M9D2vUj+LphdGGn8Qp2rbz/jbkfJjVhNJRYrhJuCwtK7O2icf5fgLHruhFKBYeiNepAbF9wyleAREYGBoiw2PT2c0RUYyX+ITrNLsEcV7EzfT7qOm3Pl/ONQ9VV3IaXXWExpOvPdSl3toyAAPqYJ0Zsv23l4PIIY/g6VREyhtGQx2P8ZCGYVfVa+dd1FVH0hfXIsKnmsp0+Y1cpFb1pBa/XWlXRwjxZw=
    on:
      tags: true
after_deploy:
  - bash ./scripts/after_deploy.sh
