# dependencies:
# pip install mkdocs mkdocs-material pymdown-extensions
site_name: Kapitan documentation
site_url: 'https://kapitan.dev'
theme: material
use_directory_urls: true
nav:
- Home: README.md
- Contributing: contributing.md
- Getting started:
  - Kapitan Overview: kapitan_overview.md
  - Inventory: inventory.md
  - Compiling components/templates: compile.md
- Kapitan features:
  - Secret management: secrets.md
  - Manifest validation: validate.md
  - External dependency management: external_dependencies.md
- Miscellaneous:
  - Usage: usage.md
  - Proposals: proposals.md
- Examples:
    - Kubernetes: example-kubernetes.md
    - Terraform: example-terraform.md


markdown_extensions:
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - markdown_include.include:
      base_path: docs
  - attr_list

repo_name: 'kapicorp/kapitan'
repo_url: 'https://github.com/kapicorp/kapitan'
