[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jsonnet = "==0.16.0"
jsonschema = "==3.2.0"
python-gnupg = "==0.4.6"
six = ">=1.15.0"
cryptography = ">=2.9.2"
google-api-python-client = "==1.7.11"
boto3 = ">=1.14.3"
requests = "==2.24.0"
addict = "==2.3.0"
yamllint = ">=1.23.0"
cffi = "*"
rfc3987 = "==1.3.8"
hvac = "==0.10.5"
docker = "==4.3.1"
pyparsing = "*"
PyYAML = ">=5.3.1"
Jinja2 = ">=2.11.2"
GitPython = "==3.1.7"
toml = ">=0.10.1"

[requires]
python_version = "3.8"
