[build-system]
requires = [
    "poetry-core==1.4.0",
    "poetry-version-plugin==0.1.3"
]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "kapitan"
description = "Generic templated configuration management for Kubernetes, Terraform and other things"
authors = [
    "Ricardo Amaro <ramaro@kapicorp.com>"
]
documentation  = "https://kapitan.dev/"
repository = "https://github.com/kapicorp/kapitan"
readme = "README.md"
keywords = ["jsonnet", "kubernetes", "reclass", "jinja"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Build Tools",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]
license = "Apache-2.0"
version = "0.31.1rc3"
packages = [
    { include = "kapitan" },
    { include = "kapitan/reclass" },
]

[tool.poetry.scripts]
kapitan = 'kapitan.cli:main'

[tool.poetry-version-plugin]
source = "git-tag"

[tool.poetry.dependencies]
python = "^3.7"
addict = "^2.4.0"
azure-keyvault-keys = "^4.7.0"
boto3 = "^1.18.17"
cryptography = "^3.4.7"
gitpython = "^3.1.30"
google-api-python-client = "^2.15.0"
hvac = "^0.11.0"
jinja2 = "^3.0.1"
jsonnet = "^0.18.0"
jsonschema = "^4.17.3"
kadet = "^0.2.2"
python-gnupg = "^0.4.7"
pyyaml = "^6.0"
requests = "^2.28.2"
six = "^1.16.0"
toml = "^0.10.2"
yamllint = "^1.29.0"
python-magic = "^0.4.27"
azure-identity = "^1.12.0"
certifi = "*"
gitdb = "^4.0.10"
packaging = "^23.0"
typing-extensions = "^4.0.0"
gojsonnet = { version = "^0.17.0", optional = true }
docker = { version = "^5.0.0", optional = true }

[tool.poetry.extras]
gojsonnet = ["gojsonnet"]
test = ["docker"]

[tool.black]
line-length = 110
target-version = ['py38']
exclude = '''
(
  /(
      .*reclass.*
    | .*version.py
  )
)
'''
