# kapitan dependencies
jsonnet==0.12.1
PyYAML==3.13
ujson==1.35
Jinja2>=2.10
jsonschema>=2.6.0
python-gnupg==0.4.3
six>=1.11.0
cryptography>=2.4.2
google-api-python-client==1.7.4
boto3==1.9.68
requests>=2.20.1

# Reclass dependencies
pyparsing
