jsonnet==0.10.0
PyYAML==3.12
Jinja2>=2.10
# Latest commit from salt-formulas/reclass - python3 branch
# TODO: Change commit hash to release tag, once python3 branch is merged in
git+https://github.com/salt-formulas/reclass.git@31770c6#egg=reclass
jsonschema>=2.6.0
python-gnupg==0.4.2
six>=1.11.0
