jsonnet==0.10.0
PyYAML==3.12
ujson==1.35
Jinja2>=2.10
# Latest commit from salt-formulas/reclass - develop branch (python3 support)
# TODO: Change commit hash to release tag once develop is merged into master and release is cut
git+https://github.com/salt-formulas/reclass.git@13a2472f#egg=reclass
jsonschema>=2.6.0
python-gnupg==0.4.2
six>=1.11.0
