/* Styles for blog-like features - author avatar & name, posting date, min to read, etc. */
.md-typeset .mdx-author img {
  border-radius: 100%;
  height: 2rem;
  }
  
  .md-typeset .mdx-author {
  display: flex;
  font-size: .68rem;
  }
  
  .md-typeset .mdx-author p>span {
  display: block;
  }
  
  p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  }
  
  .md-typeset .mdx-author p:first-child {
  flex-shrink: 0;
  margin-right: .8rem;
  }