parameters:
  kapitan:
    compile:
    - output_path: manifests
      input_type: jsonnet
      input_paths:
        - components/mysql/main.jsonnet
      output_type: yaml
    - output_path: scripts
      input_type: jinja2
      input_paths:
        - scripts
    - output_path: .
      output_type: yaml
      input_type: jinja2
      input_paths:
        - docs/mysql/README.md
  mysql:
    storage: 10G
    storage_class: standard
    image: mysql:latest
    users:
      root:
        password: ?{gpg:mysql/root/password}
