parameters:
  nginx:
    replicas: 2
  kapitan:
    compile:
    - output_path: manifests
      input_type: kadet
      output_type: yaml
      input_paths:
        - components/nginx-kadet/
    labels:
      type: kadet
