---
name: Build and deploy kapitan.dev from docs

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'docs/**'
      - '.github/workflows/documentation.yml'
      - 'mkdocs.yml'
      - 'CNAME'
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - '.github/workflows/documentation.yml'
      - 'mkdocs.yml'
      - 'CNAME'

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kapitan recursively
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: pyproject.toml
      - name: Set up uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Install libraries dependencies
        run: |
          uv sync --group docs
          uv run mike --version
          uv run mkdocs --version

      - run: uv run mkdocs build
      - name: Deploy docs
        if: github.event_name != 'pull_request' && github.ref_name == github.event.repository.default_branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_COMMITTER_NAME: mike-mkdocs-bot
          GIT_COMMITTER_EMAIL: admins@kapicorp
        run: uv run mike deploy --push dev master
