name: 'Housekeeping'
on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-message: |
            This issue is stale because it has been open for 1 year with no activity.
            Remove the stale label or comment if this issue is still relevant for you.
            If not, please close it yourself.
          days-before-issue-stale: 365
          days-before-pr-stale: -1
          days-before-close: -1
          days-before-pr-close: -1
