---
name: PEX Build and Upload

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - Upload Python Package
    types:
      - completed

jobs:
  pex_build_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: |
            3.10
            3.11
            3.12
            3.13
            3.14
      - name: Set up uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Install libraries dependencies
        run: |
          uv pip compile \
            --all-extras \
            --format=requirements.txt \
            --output-file=requirements.txt \
            pyproject.toml
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.17
      - name: Build Pex
        run: |-
          mkdir -p dist
          uvx pex '.[gojsonnet,omegaconf,reclass-rs]' -r requirements.txt \
            --python-shebang='#!/usr/bin/env python3' \
            --python=python3.11 \
            --python=python3.10 \
            --python=python3.12 \
            --python=python3.13 \
            --python=python3.14 \
            -m kapitan \
            -o dist/kapitan.linux-x86_64.pex
          dist/kapitan.linux-x86_64.pex --help

      - name: Add linux-x86_64 pex to assets
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/kapitan.linux-x86_64.pex
