---
name: PEX Build and Upload

on:
  release:
    types: [created]
  workflow_run:
    workflows:
      - Upload Python Package
    types:
      - completed

jobs:
  pex_build_publish:
    # if: false  # disable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ['3.7', '3.8',  '3.9']
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pex
      - name: Build Pex
        run: |-
          mkdir -p dist
          pex .[gojsonnet] -r requirements.txt --python-shebang='#!/usr/bin/env python3' --python=python3.7 --python=python3.8 --python=python3.9 -m kapitan -o dist/kapitan.linux-x86_64.pex
      - name: Add linux-x86_64 pex to assets
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/kapitan.linux-x86_64.pex
