---
name: Python Lint
on: 
  push:
    branches:
      - master
      - dev
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: psf/black@main
      - uses: isort/isort-action@master
