---
name: Python Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - name: Checkout kapitan recursively
        uses: actions/checkout@master
        with:
          submodules: recursive
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install testing dependencies
        run: |
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 762E3157
          sudo apt-get -qq update
          sudo apt-get install -y gnupg2 git curl
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
          chmod 700 get_helm.sh
          sudo ./get_helm.sh
          pip3 install -r requirements.txt
          pip3 install coverage black
      - name: Run tests
        run: |-
          make test && make test_coverage
